{% extends 'base.html' %}
{% block content %}

    {% if object %}
        <h3>Edit {{ object.name }}</h3>
    {% else %}
        <h3>Add a Creature</h3>
    {% endif %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input id="{{ field.id_for_label }}" type="text" class="form-field" value="{{ field.value }}">
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="Save" class="btn btn-primary">
    </form>

{% endblock %}